{% extends 'base.html.twig' %}

{% block body_class %}class='intranet'{% endblock %}

{% block nav_content %}
    <ul class='nav navbar-nav'>
        <li><a href='{{ app.url_generator.generate('public') }}'><i class='icon icon-home'></i> Accueil</a></li>
        <li><a href='{{ app.url_generator.generate('public-notation') }}'><i class='icon icon-star-half-full'></i> Noter un film</a></li>
        <li><a href='{{ app.url_generator.generate('public-films-list') }}'><i class='icon icon-list'></i> Les films</a></li>
    </ul>
{% endblock %}
