# Silex requirements
/vendor
/composer.phar
/app/config/parameters.yml
.htaccess
composer.lock

# Mac OS X
*.DS_Store

# Archives
*.rar
*.zip

# IDE specific files
.buildpath
.project
.settings

# Tests
/tests

# Logs
*.log
