# Silex requirements
/vendor
/composer.phar
/app/config/parameters.yml
.htaccess

# Mac OS X
*.DS_Store

# Gulp - UI development specific files
assets/.sass-cache
assets/node_modules
assets/components

# Archives
*.rar
*.zip

# IDE specific files
.buildpath
.project
.settings

# Tests
/tests

# Logs
*.log
