// Flat UI ColorPicker
$white:             rgb(255, 255, 255);
$black:             rgb(0, 0, 0);
$plum:              rgb(145, 61, 136);
$seance:            rgb(154, 18, 179);
$medium-purple:     rgb(191, 85, 236);
$light-wisteria:    rgb(190, 144, 212);
$studio:            rgb(142, 68, 173);
$wisteria:          rgb(155, 89, 182);
$new-york-pink:     rgb(224, 130, 131);
$pomegranate:       rgb(242, 38, 19);
$red:               rgb(255, 0, 0);
$sunglo:            rgb(226, 106, 106);
$thunderbird:       rgb(217, 30, 24);
$old-brick:         rgb(150, 40, 27);
$flamingo:          rgb(239, 72, 54);
$valencia:          rgb(214, 69, 65);
$tall-poppy:        rgb(192, 57, 43);
$monza:             rgb(207, 0, 15);
$cinnabar:          rgb(231, 76, 60);
$tahiti-gold:       rgb(232, 126, 4);
$casablanca:        rgb(244, 179, 80);
$crusta:            rgb(242, 120, 75);
$jaffa:             rgb(235, 151, 78);
$lightning-yellow:  rgb(245, 171, 53);
$saffron:           rgb(244, 208, 63);
$burnt-orange:      rgb(211, 84, 0);
$buttercup:         rgb(243, 156, 18);
$ecstasy:           rgb(249, 105, 14);
$ripe-lemon:        rgb(247, 202, 24);
$saffron:           rgb(249, 191, 59);
$jaffa:             rgb(242, 121, 53);
$zest:              rgb(230, 126, 34);
$fire-bush:         rgb(235, 149, 50);
$cararra:           rgb(242, 241, 239);
$pumice:            rgb(210, 215, 211);
$gallery:           rgb(238, 238, 238);
$silver-sand:       rgb(189, 195, 199);
$porcelain:         rgb(236, 240, 241);
$cascade:           rgb(149, 165, 166);
$iron:              rgb(218, 223, 225);
$edward:            rgb(171, 183, 183);
$silver:            rgb(191, 191, 191);
$downy:             rgb(101, 198, 187);
$mountain-meadow:   rgb(27, 188, 155);
$light-sea-green:   rgb(27, 163, 156);
$medium-aquamarine: rgb(102, 204, 153);
$turquoise:         rgb(54, 215, 183);
$observatory:       rgb(4, 147, 114);
$madang:            rgb(200, 247, 197);
$riptide:           rgb(134, 226, 213);
$shamrock:          rgb(46, 204, 113);
$mountain-meadow:   rgb(22, 160, 133);
$emerald:           rgb(63, 195, 128);
$green-haze:        rgb(1, 152, 117);
$jungle-green:      rgb(38, 194, 129);
$green-haze:        rgb(3, 166, 120);
$ocean-green:       rgb(77, 175, 124);
$jungle-green:      rgb(42, 187, 155);
$jade:              rgb(0, 177, 106);
$salem:             rgb(30, 130, 76);
$eucalyptus:        rgb(38, 166, 91);
$picton-blue:       rgb(89, 171, 227);
$shakespeare:       rgb(82, 179, 217);
$humming-bird:      rgb(197, 239, 247);
$picton-blue:       rgb(34, 167, 240);
$curious-blue:      rgb(52, 152, 219);
$madison:           rgb(44, 62, 80);
$jordy-blue:        rgb(137, 196, 244);
$dodger-blue:       rgb(25, 181, 254);
$ming:              rgb(51, 110, 123);
$ebony-clay:        rgb(34, 49, 63);
$malibu:            rgb(107, 185, 240);
$curious-blue:      rgb(30, 139, 195);
$chambray:          rgb(58, 83, 155);
$pickled-bluewood:  rgb(52, 73, 94);
$hoki:              rgb(103, 128, 159);
$jelly-bean:        rgb(37, 116, 169);
$jacksons-purple:   rgb(31, 58, 147);
$steel-blue:        rgb(75, 119, 190);
$fountain-blue:     rgb(92, 151, 191);
