$icon-font-path: "../fonts";
$fa-css-prefix: "icon";

@import "../components/bootstrap-sass/vendor/assets/stylesheets/bootstrap";

$fa-font-path: "../fonts";
@import "../components/font-awesome/scss/font-awesome";
