{% extends 'pages/public/public.html.twig' %}

{% block app_container %}
    <h2>{{ film.titre }}</h2>
    <a href='{{ app.url_generator.generate('public-films-list') }}'>Revenir à la liste</a>
{% endblock %}
