{% extends 'pages/public/public.html.twig' %}

{% block app_container %}
    <div class='page-header'>
        <h1>Les films :</h1>
    </div>

    {% block extra_before_list %}{% endblock %}

    <table class='table table-bordered table-condensed table-stripped table-hover table-sorted'>
        <thead>
            <tr>
                <th>Titre</th>
    			<th>Date de sortie</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <th><a href='{{ app.url_generator.generate('public-films-detail', { 'id': entity.id }) }}'>{{ entity.titre }}</a></th>
    <th>{{ entity.dateDeSortie | date("d/m/Y") }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% block extra_after_list %}{% endblock %}
{% endblock %}
