{% extends 'pages/public/public.html.twig' %}

{% form_theme form 'form/bootstrap.html.twig' %}

{% block app_container %}
    <h2>Ajout d'un film</h2>
    <form action='{{ app.url_generator.generate('public-film-create') }}' method='post'>
        {{ form_widget(form) }}
        <input type='submit' class='btn btn-info' name='submit' value='Créer' />
    </form>
{% endblock %}
