{% extends 'base.html.twig' %}

{% block app_container %}
    <section class='jumbotron'>
        <h1>Cinémato</h1>
        <p class='lead'>Projet NA17 - groupe 3 : Cinémato</p>
        <ul id='authors'>
            <li>Karim Lamouri</li>
            <li>Charles Herlin</li>
            <li>Etienne Homer</li>
            <li>Florent Schildknecht</li>
        </ul>
    </section>
    <div class='row'>
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
            <article class='well'>
                <h4>Back-End</h4>
                <p>Ce projet utilise le micro-framework <a href='http://silex.sensiolabs.org/' target='_blank'>Silex</a> de SensioLabs, et bien sûr <a href='http://twig.sensiolabs.org/' target='_blank'>Twig</a> comme moteur de rendu.</p>
                <p>La base de données fonctionne sur un serveur <a href='http://www.postgresql.org/' target='_blank'>PostGreSQL</a></p>
                <p>La gestion des données est mise en place grâce à au pattern Data Access Object pour chaque entité, un singleton réalisant la connexion à la base de données.</p>
            </article>
        </div>
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
            <article class='well'>
                <h4>Front-End</h4>
                <p>Ce projet est bâti suivant le standard <a href='http://www.w3.org/TR/html5/' target='_blank'>HTML5</a></p>
                <p>Le framework <a href='http://getbootstrap.com/' target='_blank'>Twitter Bootstrap</a> constitue la base du gabarit, avec son thème libre <a href='http://bootswatch.com/lumen/' target='_blank'>Lumen</a></p>
                <p>L'intégration est construite grâce à <a href='http://sass-lang.com/' target='_blank'>SASS</a> et <a href='http://coffeescript.org/' target='_blank'>CoffeeScript</a>, automatisée grâce à <a href='http://gulpjs.com/' target='_blank'>Gulp.js</a>.</p>
                <p>L'iconographie est fournie par <a href='http://fontawesome.io/' target='_blank'>Font-Awesome</a>.</p>
            </article>
        </div>
    </div>
{% endblock %}
