{% extends 'base.html.twig' %}

{% block app_container %}
    <section class='jumbotron'>
        <h1>Cinémato</h1>
        <p class='lead'>Projet NA17 - groupe 3 : Cinémato</p>
        <ul id='authors'>
            <li>Karim Lamouri</li>
            <li>Charles Herlin</li>
            <li>Etienne Homer</li>
            <li>Florent Schildknecht</li>
        </ul>
        <a href='{{ path('list-films') }}' class='btn btn-primary'>Liste des films [JSON]</a>
    </section>
{% endblock %}
