{% extends 'pages/vente/vente.html.twig' %}

{% block app_container %}
    <section class='jumbotron'>
        <h1>Vente</h1>
        <p class='lead'>Interface de vente</p>
        <ul class='nav nav-tabs nav-justified'>
            <li><a href='{{ app.url_generator.generate('vente-abonnes-list') }}' class='btn btn-primary'>Abonnes</a></li>
            <li><a href='{{ app.url_generator.generate('vente-tickets-list') }}' class='btn btn-primary'>Tickets</a></li>
            {#
            <li><a href='{{ app.url_generator.generate('vente-produits-list') }}' class='btn btn-primary'>Produits</a></li>
            #}
        </ul>
    </section>
{% endblock %}
